iframe {
    border: none;
    position: absolute;
    align-self: center;
    zoom : 222%;
    z-index: 1;
    opacity: 0;
}
.iframe-visible {
    opacity: 1 !important;
    transition: ease-in-out 1s;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0, 0, 0) !important;
    align-items: center;
    display: flex;
    justify-content: center;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-top: 5vh;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(0, 0, 0);
}
.intro {
    width: 100vw;
    height:100vh;
    z-index: 2;
    position: absolute;
    background-color: rgba(0, 0, 0);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    align-items: center;
}
.intro-items {
    animation : fadeIn 2s;
}
.start-notice {
    color: rgba(255, 255, 255, 0.589);
    font-size: 2rem;
    transition: ease-in-out 0.5s;
}
.logo {
    filter: drop-shadow(0 0 50px rgb(49, 78, 158));
    align-self: center;
}
.start-notice:hover {
    font-size: 2.5rem ;
    transition: ease-in-out 0.5s; 
}